// Primary colors
$clr-primary-50: #e0f2f1;
$clr-primary-100: #b2dfdb;
...
$clr-primary-900: #004d40;

// Accent
$clr-accent-50: #fee8e6;
...
$clr-accent-900: #cc1300;

// Warn
$clr-warn-50: #fff3e0;
...
$clr-warn-900: #e45102;

// Create CSS custom properties
:root {
    // Primary colors
    --clr-primary-50: #{$clr-primary-50};
    --clr-primary-100: #{$clr-primary-100};
    ...
    --clr-primary-900: #{$clr-primary-900};

    // Accent
    --clr-accent-50: #{$clr-accent-50};
    ...
    --clr-accent-900: #{$clr-accent-900};

    // Warn
    --clr-warn-50: #{$clr-warn-50};
    ...
    --clr-warn-900: #{$clr-warn-900};
}

$primary: (
    50: $clr-primary-50,
    100: $clr-primary-100,
    ...
    900: $clr-primary-900,
    contrast: (
        50: rgba(black, 0.87),
        ...
        500: rgba(black, 0.87),
        600: white,
        ...
        900: white,
    ),
);

$accent: (
    50: $clr-accent-50,
    ...
    900: $clr-accent-900,
    contrast: (
        50: rgba(black, 0.87),
        ...
        500: rgba(black, 0.87),
        600: white,
        ...
        900: white,
    ),
);

$warn: (
    50: $clr-warn-50,
    ...
    900: $clr-warn-900,
    contrast: (
        50: rgba(black, 0.87),
        ...
        600: rgba(black, 0.87),
        ...
        900: white,
    ),
);

// Light
$primary-palette: mat.define-palette($primary, 600, 400, 800);
$accent-palette: mat.define-palette($accent, 600, 400, 900);
$warn-palette: mat.define-palette($warn, 800, 600, 400);


$theme-light: mat.define-light-theme(
    (
        color: (
            primary: $primary-palette,
            accent: $accent-palette,
            warn: $warn-palette,
        ),
    )
);

// Dark theme

$them