<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="sidenav bg-dark" mode="side">
    <button (click)="toHomePage(); toogleMenu();drawer.toggle();toogleLoading()" class="sidenav-content-button btn btn-secondary">Home</button>
    <button (click)="toProductosPage(); toogleMenu();drawer.toggle();toogleLoading()" class="sidenav-content-button btn btn-secondary">Productos</button>
    <button (click)="toProductosPage(); toogleMenu();drawer.toggle();toogleLoading()" class="sidenav-content-button btn btn-secondary">Productos</button>
    <button (click)="toProductosPage(); toogleMenu();drawer.toggle();toogleLoading()" class="sidenav-content-button btn btn-secondary">Productos</button>
    <button (click)="toProductosPage(); toogleMenu();drawer.toggle();toogleLoading()" class="sidenav-content-button btn btn-secondary">Productos</button>
    <button (click)="toProductosPage(); toogleMenu();drawer.toggle();toogleLoading()" class="sidenav-content-button btn btn-secondary">Productos</button>
    <button (click)="toProductosPage(); toogleMenu();drawer.toggle();toogleLoading()" class="sidenav-content-button btn btn-secondary">Productos</button>
  </mat-drawer>

  <div class="sidenav-content">
    <button class="btn btn-outline-secondary" (click)="toogleMenu(); drawer.toggle(); toogleLoading(); ">
      {{ this.messageMenu }}
    </button>
    <mat-divider></mat-divider>
    <div *ngIf="currentPage == 'home'" class="mat-background">
      <app-home></app-home>
    </div>
    <div *ngIf="currentPage == 'productos'" class="mat-background">
      <app-producto></app-producto>
    </div>

  </div>
  <app-loading *ngIf="isLoading"></app-loading>
</mat-drawer-container>
